body {
  background-color: #160f29;
}

thead {
  position: sticky;
  top: 0px;
}

#title {
  color: #368f8b;
}

#meters {
  height: 100vh;
}

#closePursuit,
#recentPassers {
  color: #f3dfc1;
}

tr {
  color: white;
  font-weight: 500;
}

thead {
  background-color: #246a73;
}

#bainesTable {
  /* height: 10%; */
  overflow-y: scroll;
}

tr:nth-child(even) {
  color: #f3dfc1;
}

#bainesTable tbody tr:hover {
  border: 5px solid #9b3636;
}
