thead {
  position: sticky;
  top: 0px;
}

#meters {
  height: 100vh;
}

tr {
  color: black;
  font-weight: 500;
}

thead {
  background-color: #e8d28f;
}

#bainesTable {
  /* height: 10%; */
  overflow-y: scroll;
}
